*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* AJUSTE DO THIAGO */

/* slide principal */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide  {
  text-align: center;
  font-size: 18px;
  background: #fff;
  

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}



.swiper-slide img {

 width: 100%;
height: 120%;

}

/* texto da legenda */

.text {
  color: white;
  font-weight: bold;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
left: 5%;
  display: flex;
  justify-content: start;
  flex-direction: column;
 

}

.text h1{
 color:  #F9C57C;
 font-size: 3em;
}
.text span{

 font-size: 25px;
 color:rgba(64, 29, 88, 0.801) ;

}


.text p{
 color:#bd895f;
 width: 300px;
 font-size: 20px;
 opacity: 0.8;
 margin-top: 10px;

}





@media screen and (max-width: 600px) {
    
body{
    width: 100%;
}

header{
    width: 100%;
    height:12vh ;
    background-color:#EF7F22 ;
    display: flex;
    justify-content:space-between;
    align-items: center;

}
/* STYLE DA LOGO */
header .header-logo{
    background-color: aliceblue;
    width:60px;
    height:60px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    
}

header .logo img{
    width: 80px;}

/* ESTILIZAÇOES DO MENU LATERAL */

.menu-lateral{
 
}
#sub-btn{
    margin-right: 20px;
    padding: 5px;
    
}



.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color:#f1f1f1;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #d37528;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #F9C57C;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  #main {
    transition: margin-left .5s;
    padding: 16px;
  }
  

/* menu vertical */

.menu-vertical{
    display: none;
}
/*  INICIO DA MAIN */
main{
    width: 100%;
    height: 150vh;
    display: flex;
flex-direction: column;
}
/* estilizaçao do aside */
aside{
    width: 100%;
    height: 50px;
    background-color:#F9C57C;
    display: flex;
    align-items: center;
   padding: 5px
}

aside h1{
color:  rgb(255, 255, 255);
}
 /* estilizaçao do conteudo main */

 .container-main{
    width: 100%;
    height: 150vh;
    background-color:#FDEDD6;
 }

 .container-main .slide-container{
    width: 100%;
    height: 50vh;
 
 }
 .conteudo-main{
    width: 100%;
    height: 710px;

    display: flex;
    flex-direction: column;
    align-items: center;
 }
  

/* cards */
.card-main{
    width: 300px;
    height:250px;
    background-color: white;
    border-radius: 15px;
    margin-top:50px ;
    padding: 10px;
  display: flex;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
 
} 
.card-main:hover{
    position: relative;
    bottom: 10px;
    transition: 0.4s;
}
.card-img{
    width: 200px;
    height: 230px;
    background-color:#F9C57C;
    margin-right: 15px;
    border-radius: 15px;
}

 
.conteudo-card{
    width: 200px;
}

.conteudo-card h2{
    font-size: 1.8em;
 margin-bottom: 10px;
 letter-spacing: 2px;
 color:rgba(64, 29, 88, 0.801) ;

}

.conteudo-card span{
    margin-left: 3px;
  padding: 2px;
  background-color: #F9C57C;
  margin-right: 3px;
 
}

.conteudo-card hr{
    margin-bottom: 15px;
    border: 1px dotted #EF7F22;
    opacity: 0.3;
}

.conteudo-card p{
    font-size: 1em;
    opacity: 0.8;
    color: #d37528;
}

/* estilizando o footer */
 footer{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F9C57C;}
    
    footer h3{color: white;
font-size: 0.8em;}

.conteudo-footer{
    margin-top: 40px;
 }


 
 }

 @media screen and (min-width: 600px){
/* INICIO DO DESKTOP */

body{
  width: 100%;
}
/* INICIO DA HEADER */
header{
  width: 100%;
  height:12vh ;
  background-color:#EF7F22 ;
  display: flex;
  justify-content:space-around;
  align-items: center;

}
/* STYLE DA LOGO  DESKTOP*/
header .header-logo{
  background-color: aliceblue;
  width:70px;
  height:70px;
  border-radius: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}


header .logo img{
  width: 90px;}


.menu-lateral{
  display:none;
}
/* menu vertical */

.menu-vertical{
  padding: 20px;
  margin-left: 50px;
}

.menu-vertical nav{
 display: flex;
 align-items: center;
}

nav .conteudo-nav:nth-child(4){
  border-right: 1px solid #F9C57C;
}
.conteudo-nav{
  padding:10px ;
  
  
}
 

.menu-vertical a{
  color: #f1f1f1;
  font-size: 1.1em;
  font-weight: bold;
  text-decoration: none;
  transition: 0.2s;
 margin-left: 10px;
 
}

.menu-vertical a:nth-child(4){
  border: none;
}

.menu-vertical a:hover{
 border-bottom: 3px solid white;
}


.menu-vertical nav i{
  font-size: 1.4em;
  color: #f1f1f1;
  margin-left: 10px;
  cursor: pointer;

}
/*  INICIO DA MAIN  DESKTOP*/
main{
  width: 100%;
  height: 155vh;
  display: flex;
flex-direction: column;

}
/* estilizaçao do aside  DESKTOP*/
aside{
  width: 100%;
  height: 50px;
  background-color:#F9C57C;
  display: flex;
  align-items: center;
 padding: 20px
}

aside h1{
color:  rgb(255, 255, 255);
}

/* estilizaçao do conteudo main */

.container-main{
  width: 100%;
  height: 150vh;
  background-color:#FDEDD6;
}

.container-main .slide-container{
  width: 100%;
  height: 50vh;


}
.conteudo-main{
  width: 100%;
  height: 710px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* slides */


.slide{display: none;}
img{vertical-align: middle;}

/* Slide container */
.slide-container{
   position: relative;
   margin: auto;
   width:100%;
   height: 50vh;
   overflow: hidden;
}
/* slide img */

.slide img{
  
  width: 100%;
  height: 75vh;


}

/* botoes next e prev */

.slide-container a{
  font-size:2.5em ;
}
.slide .text{
  font-size: 2em;
}
.next, .prev{
   cursor: pointer;
   position: absolute;
   top: 50%;
   width: 50px;
   padding: 16px;
   margin-top: -22px;
   color: white;
   font-weight: bold;
   font-size: 16px;
   transition: 0.6s ease;
   border-radius: 0 3px 3px 0;
   user-select: none;
}



.next{
   right: 0;
   border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
   background-color: #EF7F22;
   opacity: 0.6;
   color: white;
 }

 
 /* texto numerico */

 .nmr-text {
   color: #f2f2f2;
   font-size: 15px;
   padding: 8px 12px;
   position: absolute;
   top: 0;}

   /* os Circulos */

   .dot {
       cursor: pointer;
       height: 15px;
       width: 15px;
       margin: 0 2px;
       background-color: #bbb;
       border-radius: 50%;
       display: inline-block;
       transition: background-color 0.6s ease;
     }

     .active, .dot:hover {
       background-color: #717171;
     }

     /* animaçao */

     .fade {
       animation-name: fade;
       animation-duration: 1.5s;
     }

     @keyframes fade {
       from {opacity: .4} 
       to {opacity: 1}
     }

     
     
       .prev, .next,.text {font-size: 11px}
   
       .text{
           font-size: 1em;
           bottom: 100px;
       }
       
   /* cards DESKTOP */
.card-main{
  width: 70%;
  max-width: 70%;
  height:290px;
  background-color: white;
  border-radius: 15px;
  margin-top:50px ;
  padding: 10px;
display: flex;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

} 
.card-main:hover{
  position: relative;
  bottom: 10px;
  transition: 0.8s;
}
.card-img{
  width: 200px;
  height: 270px;
  background-color:#F9C57C;
  margin-right: 20px;
  border-radius: 15px;
}

.card-img img{
  border-radius: 15px;
}

.conteudo-card{
  width: 400px;
  padding-top: 10px;
}

.conteudo-card h2{
  font-size: 1.8em;
margin-bottom: 10px;
letter-spacing: 2px;
color:rgba(64, 29, 88, 0.801) ;

}

.conteudo-card span{
  margin-left: 3px;
padding: 2px;
background-color: #F9C57C;
margin-right: 3px;

}

.conteudo-card hr{
  margin-bottom: 15px;
  border: 1px dotted #EF7F22;
  opacity: 0.3;
}

.conteudo-card p{
  font-size: 1em;
  opacity: 0.8;
  color: #d37528;
}

/* estilizando o footer DESKTOP */
footer{
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F9C57C;}
  
  footer h3{color: white;
font-size: 0.8em;}

.conteudo-footer{
  margin-top: 20px;
}

 }

 



 


