@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600&display=swap');
* { 

padding: 0;
margin: 0;
box-sizing: border-box;
font-family: Inter, sans-serif;


}

.logo-voltar{
    position: absolute;

}

body {
 width: 100%;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
background:#FDEDD6


}

.conteiner{
width: 80%;
height: 80vh;
display: flex;
box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
border-radius: 15px;

}

.form-image{
width: 70%;
display: flex;
justify-content: center;
align-items: center;
background-color:#F9C57C ;
overflow: hidden;
border-radius: 15px;
}

.form{
    width: 30%;
display: flex;
justify-content: center;
align-content: center;
flex-direction: column;
background-color: #fff;
border-radius: 15px;
}

.form-image img{
    width: 100%;
    height: 100%;
}
.form-header h1::after {
content: "";
display: block;
width: 5rem;
height: 0.3rem;
background-color: rgb(97, 97, 75) ;
margin: 0 auto;
position: absolute;
border-radius: 10px;

}

.input-group{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
padding: 1rem 0;

}

.input.box{
display: flex;
flex-direction: column;
margin-bottom: 1.1rem;
}

.input-box input{
    width: 300px;
margin: 10px;
padding: 15px;
border: none;
border-radius: 10px;
box-shadow: 1px 1px 6px #0000001c;
justify-content: center;
display: flex;
justify-content: center;


}

.input-box input:hover{
    background-color: #0000001c;
    transition: 0.6s;
}


.input-box input:focus-visible{
    outline: 1px solid #FDEDD6;
}

.input-box input::placeholder{
    color: #000000be;
}

.continue-button{
    display: flex;
    align-items: center;
    justify-content: center;
}

.continue-button button{
width: 400px;
margin-top: 2.5rem;
border: none;
background-color: #F9C57C;
padding: 0.62rem;
border-radius: 5px;
cursor: pointer;
border-radius: 15px;

}

.continue-button button:hover{
    background-color: #EF7F22 ;
    transition: 0.6s;
}

.continue-button button a{
text-decoration: none;
font-size: 0.93;
font-weight: 500;
color: #fff;
}

.tudao { 
    padding-left: 25px ;

}
.title {
display: flex;
align-items: center;
justify-content: center;
padding-bottom: 10px;
}



@media screen and (max-width:1330px){
    .form-image { 
        display: none;
    
}
 .conteiner{
    width: 50%;   
 }   
.form{
    width: 100%;
}

.logo-voltar{
    position: absolute;
    top: -10px;
    left: -5px;
}
}

@media screen and  (max-width: 1064px ){
    .conteiner {
        width: 90%;
        height: auto;
    }

    
.input-group{
flex-direction: column;
overflow-y: scroll;
flex-wrap: nowrap;
max-height: 10rem;
padding-right: 5rem;
}

.logo-voltar{
    position: absolute;
    top: -10px;
    left: -5px;
}


}

@media screen and  (max-width: 600px ){
    .logo-voltar{
        position: absolute;
        top: -10px;
        left: -5px;
    }
}