@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}

body {
    background-color: bisque;
    width: 100%;
    height: 100%;

}




 /* INICIO DA HEADER */
 header {
    z-index: 900;
    position: fixed;
    width: 100%;
    height: 12vh;
    background-color: #EF7F22;
    display: flex;
    justify-content: space-around;
    align-items: center;
transition: 0.4s;
}





/* STYLE DA LOGO  DESKTOP*/
header .header-logo {
    background-color: aliceblue;
    width: 70px;
    height: 70px;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 20px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}


header .logo img {
    width: 90px;
}


.menu-lateral {
    display: none;
}

/* menu vertical */

.menu-vertical {
    padding: 20px;
    margin-left: 50px;
  
}

.menu-vertical nav {
    display: flex;
    align-items: center;
}

nav .conteudo-nav:nth-child(4) {
    border-right: 1px solid #F9C57C;
}

.conteudo-nav {
    padding: 10px;


}


.menu-vertical a {
    color: #f1f1f1;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    transition: 0.2s;
    margin-left: 10px;

}

.menu-vertical a:nth-child(4) {
    border: none;
}

.menu-vertical a:hover {
    border-bottom: 3px solid white;
}


.menu-vertical nav i {
    font-size: 1.4em;
    color: #f1f1f1;
    margin-left: 10px;
    cursor: pointer;

}


@media screen and (max-width: 600px) {
/* HEADER MOBILE */

 .menu-lateral {
    display: block;
 }

    .menu-vertical {
        display: none;
    }

    #sub-btn {
        margin-right: 20px;
        padding: 5px;

    }



    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1000;
        top: 0;
        right: 0;
        background-color: #f1f1f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #d37528;
        display: block;
        transition: 0.3s;
    }

    .sidenav a:hover {
        color: #F9C57C;
    }

    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }

    #main {
        transition: margin-left .5s;
        padding: 16px;
    }
}
   /* Implementando aside */
 
   aside{
    width: 100%;
    height: 50px;
    background-color:#F9C57C;
    display: flex;
    align-items: center;
   padding: 5px 20px;
   
}

aside h2{
    color:  rgb(255, 255, 255);
    }


/* footer  DESKTOP*/

footer {
    background-color: #F9C57C;
    width: 100%;
    height: 500px;
    padding: 10px;
    padding: 20px;
}



.divisao1{
    display: flex;
 
}

.divisao1 .categorias{display: flex;
flex-direction: column;
margin-left: 30px;
}

.divisao1 .categorias h3{

    margin-bottom: 5px;
    color:rgba(64, 29, 88, 0.801) ;
}

.divisao1 .categorias a{
    text-decoration: none;
    padding: 5px;
    color: white;
    border-radius: 10px;
}

.divisao1 .categorias a:hover{
    transition: 0.4s;
    background-color:rgba(64, 29, 88, 0.801) ;
}
.divisao2{
    margin-left: 30px;

}

.infos-loja{
    display: flex;
    margin-top: 50px;
   width: 90%;

   justify-content:space-between ;
}

.infos-loja .localizar-loja{
    display: flex;
    flex-direction: column;

}


.divisao2 h3{
    margin-bottom: 5px;
    color:rgba(64, 29, 88, 0.801)
}


.infos-loja  span{
    color: white;
    font-size: 0.8em;
}


.infos-loja .localizar-loja button{
    height: 45px;
    border-radius: 10px;
    border: none;
    background-color: #d37528;
    margin-top: 5px;
    color: white;
  
}

.infos-loja .redes  span i {
   font-size: 2em;
   margin-left: 10px;
  
}

.infos-loja .redes  span i:hover{
    transform: scale(1.2,1.2);
    transition: 0.4s;
}

.infos-loja .email .email-input input{
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    padding: 5px;
}

.infos-loja .email .email-input button{ 
    height: 40px;
    width: 30px;
   position: relative;
   left: -10px;
background-color: #d37528;
border: none;
border-radius: 0px 10px 10px 0px;
}

.infos-loja button:hover{
    opacity: 0.8;
    transition: 0.4s;
    cursor: pointer;
}

.bancos{
    margin-top: 20px;
} 



.card, .card-localization,.card-equipe,.quemSomos-Left,.quemSomos-Rigth,.contato-info{
  visibility: hidden;
}