

/* INICIO DO MOBILE HOME */
@media screen and (max-width: 600px) {

    body {
        width: 100%;
    }

    header {
        width: 100%;
        height: 12vh;
        background-color: #EF7F22;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /* STYLE DA LOGO */
    header .header-logo {
        background-color: aliceblue;
        width: 60px;
        height: 60px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;

    }

    header .logo img {
        width: 80px;
    }

    /* ESTILIZAÇOES DO MENU LATERAL */

   
  
}


