@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: bisque;
}
@media screen and (max-width: 600px) {
    
    body{
        width: 100%;
    }
    
    header{
        width: 100%;
        height:12vh ;
        background-color:#EF7F22 ;
        display: flex;
        justify-content:space-between;
        align-items: center;
    
    }
    /* STYLE DA LOGO */
    header .header-logo{
        background-color: aliceblue;
        width:60px;
        height:60px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        
    }
    
    header .logo img{
        width: 80px;}
    
    /* ESTILIZAÇOES DO MENU LATERAL */
    

    #sub-btn{
        margin-right: 20px;
        padding: 5px;position: absolute;
        top: 30px;
        right: 10px;
        cursor: pointer;
        
    }
    
    
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color:#f1f1f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #d37528;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #F9C57C;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      #main {
        transition: margin-left .5s;
        padding: 16px;
      }
      
    
    /* menu vertical */
    
    .menu-vertical{
        display: none;
    }

    /* estilizaçoes do CARRINHO  */

    #sub-btn-prod{ 
        margin-right: 20px;
        padding: 5px;
        }
        #sub-btn-prod i{
            font-size: 1.5em;
            position: absolute;
            top: 36px;
            right: 80px;
            color: white;
            cursor: pointer;
        }

    
        .prodNav{
            height: 100%;
            width: 0;
            position: fixed;
            z-index: 1;
            top: 0;
            right: 0;
            background-color:#f1f1f1;
            overflow-x: hidden;
            transition: 0.5s;
            padding-top: 60px;
        }
    
        
       
    
        .prodNav a{
            padding: 8px 8px 8px 32px;
            text-decoration: none;
           
            color: #d37528;
            display: block;
            transition: 0.3s;
    
        }
    
        .prodNav a:hover{
            color: #F9C57C;
        }
    
        #main{
            transition: margin-left .5s;
            padding: 16px;
        }
        .closebtnProd{
            position: absolute;
            top: 0;
           right: 25px;
           font-size: 36px;
            margin-left: 50px;
        }
    
        .limpar-prod{
            position: absolute;
            top: 0;
           left: -50px;
           font-size: 16px;
            margin-left: 50px;
            width: 50px;
    
        }
    
    
        /* ESTILIZAÇOES DO CARRINHO */
    
        .carrinho-itens{
            width: 100%;
            height: 600px;
       
            display: flex;
            align-items: center;
            flex-direction: column;
           
        }
        
        .carrinho-itens .img-produto{
            width: 200px;
            height: 180px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #FDEDD6;
            border-radius: 15px;
            padding: 20px;
        }
        
        .carrinho-itens .img-produto .img{
            
            width: 160px;
            height: 130px;
            border-radius: 15px;
            position: relative;
            background-color: #f2c87a;
        }
        
        .btn-produtos{
            display: flex;
            flex-direction: column;
            align-items: center;
          width: 100%;
          height: 500px;
    
          padding: 10px;
        
        }
        .btn-produtos .btn{
            padding: 10px;
            width: 100%;
        }
    
        .btn-produtos .btn button{
            width: 100px;
            padding: 8px;
            border: none;
            background:#F9C57C;
            border-radius: 15px;
            margin-bottom: 5px;
            color: rgb(126, 60, 189);
            cursor: pointer;
        }
    
    
        .btn-produtos .btn button:hover{
            background:#F9C57C; 
            opacity: 0.6;
            transition: 0.6s;
        }
        .carrinho-itens span{
            font-size: 1.3em;
            font-weight: bold;
            width: 100%;
            color: #d37528;
        }
    
        #btn-click{
            width: 250px;
            height: 50px;
            padding: 5px;
            background-color: #d37528;
            border-radius: 15px;
            border: none;
            cursor: pointer;
        }
        #btn-click:hover{
            opacity: 0.8;
            transition: 0.6s;
        }
    
    
}


@media screen and (min-width: 600px){
    /* INICIO DO DESKTOP */
    
    body{
      width: 100%;
    }
    /* INICIO DA HEADER */
    header{
      width: 100%;
      height:12vh ;
      background-color:#EF7F22 ;
      display: flex;
      justify-content:space-around;
      align-items: center;
    
    }
    /* STYLE DA LOGO  DESKTOP*/
    header .header-logo{
      background-color: aliceblue;
      width:70px;
      height:70px;
      border-radius: 90px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-left: 20px;
      box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
    
    
    header .logo img{
      width: 90px;}
    
    
    .menu-lateral{
      display:none;
    }
    /* menu vertical */
    
    .menu-vertical{
      padding: 20px;
      margin-left: 50px;
    }
    
    .menu-vertical nav{
     display: flex;
     align-items: center;
    }
    
    nav .conteudo-nav:nth-child(4){
      border-right: 1px solid #F9C57C;
    }
    .conteudo-nav{
      padding:10px ;
      
      
    }
     
    
    .menu-vertical a{
      color: #f1f1f1;
      font-size: 1.1em;
      font-weight: bold;
      text-decoration: none;
      transition: 0.2s;
     margin-left: 10px;
     
    }
    
    .menu-vertical a:nth-child(4){
      border: none;
    }
    
    .menu-vertical a:hover{
     border-bottom: 3px solid white;
    }
    
    
    .menu-vertical nav i{
      font-size: 1.4em;
      color: #f1f1f1;
      margin-left: 10px;
      cursor: pointer;
    
    }
 /* estilizaçoes do CARRINHO  */

 #sub-btn-prod{ 
    margin-right: 20px;
    padding: 5px;
    }
    #sub-btn-prod i{
        font-size: 1.3em;
        position: absolute;
        top: 36px;
        right: 45px;
        color: white;
        cursor: pointer;
    
    }


    .prodNav{
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color:#f1f1f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }

    
   

    .prodNav a{
        padding: 8px 8px 8px 32px;
        text-decoration: none;
       
        color: #d37528;
        display: block;
        transition: 0.3s;

    }

    .prodNav a:hover{
        color: #F9C57C;
    }

    #main{
        transition: margin-left .5s;
        padding: 16px;
    }
    .closebtnProd{
        position: absolute;
        top: 0;
       right: 25px;
       font-size: 36px;
        margin-left: 50px;
    }

    .limpar-prod{
        position: absolute;
        top: 0;
       left: -50px;
       font-size: 16px;
        margin-left: 50px;
        width: 50px;

    }

    #check{
        color: green;
    }

    /* ESTILIZAÇOES DO CARRINHO */

    .carrinho-itens{
        width: 100%;
        height: 600px;
   
        display: flex;
        align-items: center;
        flex-direction: column;
       
    }
    
    .carrinho-itens .img-produto{
        width: 200px;
        height: 180px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #FDEDD6;
        border-radius: 15px;
        padding: 20px;
    }
    
    .carrinho-itens .img-produto .img{
        
        width: 160px;
        height: 130px;
        border-radius: 15px;
        position: relative;
        background-color: #f2c87a;
    }
    
    .btn-produtos{
        display: flex;
        flex-direction: column;
        align-items: center;
      width: 100%;
      height: 500px;

      padding: 10px;
    
    }
    .btn-produtos .btn{
        padding: 10px;
        width: 100%;
    }

    .btn-produtos .btn button{
        width: 100px;
        padding: 8px;
        border: none;
        background:#F9C57C;
        border-radius: 15px;
        margin-bottom: 5px;
        color: rgb(126, 60, 189);
        cursor: pointer;
    }


    .btn-produtos .btn button:hover{
        background:#F9C57C; 
        opacity: 0.6;
        transition: 0.6s;
    }
    .carrinho-itens span{
        font-size: 1.3em;
        font-weight: bold;
        width: 100%;
        color: #d37528;
    }

    #btn-click{
        width: 250px;
        height: 50px;
        padding: 5px;
        background-color: #d37528;
        border-radius: 15px;
        border: none;
        cursor: pointer;
    }
    #btn-click:hover{
        opacity: 0.8;
        transition: 0.6s;
    }


}

.rectangle{
    color: floralwhite;
    font-size: min(4vw, 14px);
    width: 100%;
    height: 50px;
    background-color: #F9C57C;
    display: flex;
    align-items: center;
    padding: 20px;
}
.painel {
    font-size: min(7vw, 34px);
    color: white;
    font-weight: bold;
}
/* div principal da imagem c/3 coxinhas */
.main-box{
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    display: flex;
    background-color: #FDEDD6;
    align-items: center;
    height: auto;
    flex-direction: column;
    margin: 30px 20px 0px 20px;
    border-radius: 15px;
    max-width: 600px;
}
.secondbox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 210px;
    margin-top: 20px;
    border-radius: 22px;
}
.image {
    max-width: 96%;
    height: 235px;
}
.thirdbox {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    height: 40%;
    margin: 20px 0 5px 0;
    background-color: #FFFFFF;
    border-radius: 22px;
    padding: 10px;
    font-size: 20px;
}
.titulo {
    font-size: min(5vw, 25px);
    font-family: Merriweather, serif;
    color: rgb(211, 117, 40);
    font-weight: bold;
}
.text {
    font-size: min(4vw, 20px);
    font-family: Merriweather, serif;
}
.div-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-coxinhas{
    margin: 0 40px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box-2 {
    display: flex;
    background-color: #FDEDD6;
    align-items: center;
    height: auto;
    flex-direction: column;
    margin: 37px 0px 100px 0px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    padding-bottom: 14px;
    width: min(100%, 313px);
    
}
.secondbox-2 {
    display: flex;
    background-color: #F9C57C;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 150px;
    margin-top: 20px;
    border-radius: 22px;
}
.image-2 {
    max-width: 70%;
    border-radius: 15px;
}
.thirdbox-2 {
    width: 88%;
    height: auto;
    margin: 6px;
    background-color: #FFFFFF;
    border-radius: 22px;
    padding: 10px;
}
/* Div principal do video, mapa e localização*/
.container {
    display: flex;
    background-color: rgb(250, 238, 213);
    width: min(93%, 381px);
    height: auto;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
    margin: 30px;
    padding: 5px;
}
/* div do video*/
.meme {
    display: flex;
    height: 302px;
    margin: 10px 5px 10px 5px;
}
/* video*/
.meme video {
    border-radius: 10px;
}

.localization {
    display: flex;
    flex-direction: column;
}
.maps {
    margin: 10px 5px 5px 0;
    border-radius: 5px;
}
.mapa{
    height: 85px;
    width: 100%;
}
.eddress {
    background-color: rgb(242, 200, 122);
    height: 202px;
    width: 97%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    border-radius: 5px;
    margin: 10px 5px 5px 0px;
    padding: 3px;
}
.eddress img {
    width: min(100%, 49px);
    height: auto;
}

footer {
    background-color: #F9C57C;
    text-align: center;
    width: 100%;
    height: 9.45%;
    padding: 10px;
}
.descricao{
    font-family: 'Caveat', cursive;
}

    /* descrição das coxinhas */
.descriptionCox-0{
    display: flex;
    flex-direction: column;
}

    /*titulos das coxinhas box-2*/
.titulo-1, .titulo-2, .titulo-3, .titulo-4 {
    font-size: min(5vw, 25px);
    font-family: Merriweather, serif;
    color: rgb(211, 117, 40);
    font-weight: bold;
}

    /*Descrição das coxinhas box-2*/
.text-1, .text-2, .text-3{
    font-size: min(4vw, 20px);
}
.titulo-4{
    display: flex;
    align-items: center;
    justify-content: center;
}
.text-4{
    font-size: min(5vw, 25px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.descriptionCox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descriptionCox-2{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.descriptionCox-3{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* estilização dos botões das coxinhas*/
.botao{
    background: #F9C57C;
    opacity: 0.6;
    transition: 0.6s;
    text-decoration: none;
    padding: 7px;
    BORDER-RADIUS: 10PX;
    COLOR: rgb(126, 60, 189);
    font-weight: bold;
    FONT-SIZE: 15PX;
}

    /* Resolução para Tablet de 768px até 992px */
@media only screen and (min-width: 768px) {
    .box{
        max-width: 600px;
        
    }
    .secondbox {
        width: 600px;
    }
    .image {
        width: 100%;
    }
    .main-coxinhas{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
    }
    .div-main {
       display: flex;
    }
    .box-2 {
        display: flex;
        width: 35%;
        margin: 5%;
    }
    .secondbox-2 {
        height: 175px;
    }
    
    .container {
        width: 277px;
    }
    .meme {
        height: 310px;
    }
    
    .eddress {
        height: 205px;
        display: flex;
        justify-content: space-around;
        padding: 10px;
    }
    /*
    .eddress img{
        height: 33px;
        max-width: min(100%, 100%);
    }*/
    
    .titulo-1, .titulo-2, .titulo-3, .titulo-4{
        font-size: min(20px, 35px);
    }
    .text-1, .text-2, .text-3 {
        font-size: min(15px, 40px);
    }
    .text-4 {
        font-size: min(15px, 25px);
    }
}

/* Resolução de 993px até 4k*/
@media only screen and (min-width: 993px){
    .main-box {
        display: flex;
        align-items: center;
        justify-content: center;
        height: auto;
    }
    .box {
        max-width: 1000px;
        height: auto;
    }
    .secondbox {
        width: 1000px;
        height: auto;
    }
    .image {
        width: 100%;
        height: auto;
    }
    .thirdbox{
        width: 82%;
        margin: 0px 0 20px 0;
    }
    .box-2{
        width: 30%;
    }
    .container {
        width: min(34%, 414px);
        margin: 4%;
    }

}

@media only screen and (min-width: 1300px){
    .eddress {
    display: flex;
    flex-wrap: wrap;
    }
    .box-2{
        width: min(100%, 416px);
    }
}