*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: bisque;

}




@media screen and (max-width: 600px) {
    
    body{
        width: 100%;
    }
    
    header{
        width: 100%;
        height:12vh ;
        background-color:#EF7F22 ;
        display: flex;
        justify-content:space-between;
        align-items: center;
    
    }
    /* STYLE DA LOGO */
    header .header-logo{
        background-color: aliceblue;
        width:60px;
        height:60px;
        border-radius: 90px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 20px;
        
    }
    
    header .logo img{
        width: 80px;}
    
    /* ESTILIZAÇOES DO MENU LATERAL */
    
    
    #sub-btn{
        margin-right: 20px;
        padding: 5px;
        
    }
    
    
    
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        right: 0;
        background-color:#f1f1f1;
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
      }
      
      .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 25px;
        color: #d37528;
        display: block;
        transition: 0.3s;
      }
      
      .sidenav a:hover {
        color: #F9C57C;
      }
      
      .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
      }
      
      #main {
        transition: margin-left .5s;
        padding: 16px;
      }
      
    
    /* menu vertical */
    
    .menu-vertical{
        display: none;
    }}



    @media screen and (min-width: 600px){
        /* INICIO DO DESKTOP */
        
        body{
          width: 100%;
        }
        /* INICIO DA HEADER */
        header{
          width: 100%;
          height:12vh ;
          background-color:#EF7F22 ;
          display: flex;
          justify-content:space-around;
          align-items: center;
        
        }
        /* STYLE DA LOGO  DESKTOP*/
        header .header-logo{
          background-color: aliceblue;
          width:70px;
          height:70px;
          border-radius: 90px;
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: 20px;
          box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;}
        
        
        header .logo img{
          width: 90px;}
        
        
        .menu-lateral{
          display:none;
        }
        /* menu vertical */
        
        .menu-vertical{
          padding: 20px;
          margin-left: 50px;
        }
        
        .menu-vertical nav{
         display: flex;
         align-items: center;
        }
        
        nav .conteudo-nav:nth-child(4){
          border-right: 1px solid #F9C57C;
        }
        .conteudo-nav{
          padding:10px ;
          
          
        }
         
        
        .menu-vertical a{
          color: #f1f1f1;
          font-size: 1.1em;
          font-weight: bold;
          text-decoration: none;
          transition: 0.2s;
         margin-left: 10px;
         
        }
        
        .menu-vertical a:nth-child(4){
          border: none;
        }
        
        .menu-vertical a:hover{
         border-bottom: 3px solid white;
        }
        
        
        .menu-vertical nav i{
          font-size: 1.4em;
          color: #f1f1f1;
          margin-left: 10px;
          cursor: pointer;
        
        }}

.box{
    background-color:#EF7F22;
    color: white;
    border-radius: 10px;
    display: flex;
    width: 50%;
    height: auto;
    margin-top: 20px;
    margin-left: 25%;
    padding: 30px;
    text-align:justify;


}


.sbox{
    background-color: #EF7F22;
    width: 50%;
    border-radius: 10px;
    height: auto;
    color:white;
    display: flex;
    margin-top: 20px;
    margin-left: 25%;
    margin-bottom: 20px;
    padding: 30px;
    text-align:justify;
}

/* Determinei as estilizaçoes de img apenas para as que estao dentro de box e sbox */
.box img{
    display:flex;
    width:120px;
    height: 120px;
    margin:20px;
    border-radius:10px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.897);
    margin-left: 10px;
    animation: float 5s ease-in-out infinite;
 
}
.sbox img{
    display:flex;
    width:120px;
    height: 120px;
    margin:20px;
    border-radius:10px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.897);
    margin-left: 10px;
    animation: float 5s ease-in-out infinite;
 
}

.base {
  width: 100%;
  height: 50px;
  background-color: #F9C57C;
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

footer {
    background-color: #F9C57C;
    text-align: center;
    width: 100%;
    height: 5%;
    padding: 10px;
    display: block;
}

@keyframes float {
    0%, 100% {
      transform: translateX(0px);
    }
    50% {
      transform: translateY(15px);
    }
  }
  


@media (max-width: 756px) {

    .box{
        background-color:#EF7F22;
        color: white;
        border-radius: 10px;
        margin-top: 20px;
        width: 80%;
        height: auto;
        padding: 10px;
        margin-left: 50px;
    
    }

    .section {
     align-items: center;
     justify-items: center;
     margin-right: 50%;
    }

    .image{
        margin-left: -10px;
    
    }

    .image2{
        margin-left: -10px;
       
    }

    .texto{
        margin-right: 10px;
    }

    .sbox{
        background-color: #EF7F22;
        border-radius: 10px;
        display: flex;
        width: 80%;
        height: 30%;
        padding: 10px;
        margin-left: 50px;
    }

}
@media (min-width: 1187px) {
  footer{
    bottom: 0;
    background-color: #F9C57C;
    text-align: center;
    width: 100%;
    height: 5%;
    padding: 10px;
    display: block;
    position: absolute;
  }
}



